.spinner-container {
  height: 150vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 15rem;
  border: 3px solid rgba(195, 195, 195, 0.5);
  border-radius: 50%;
  border-top-color: #0B72B9;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
